/*
    created: 2-dec-2019, 11:31
    author : Maikel Nelis
*/
    :root{
    
        --MainPrimaryColor: #e56a54  ;	/* Darkblue */
        --SecondaryColor: #00555c ;       /*whitesmoke*/
    --White:#ffff;           /*darker shade of gray*/
    --Black: #000000  ;     /*shade of darker blue*/
    --darkestBlue: #170B44    ;       /*DarkestBlue*/
    }


          /* Style page content */
.main {
    margin-left:        160px;           /* Same as the width of the sidebar */
    padding:            0px 10px;
    
}
 
 .topnav{
     padding-left:      40%;
     background-color: Var(--MainPrimaryColor);
 }       