* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: gray;
}
/*===================Begin of the nav-bar================*/
nav {
  height: 50px;                       /* size of the navabar border*/
  background: #e56a54;              /* color of the background of navbar*/
}

.nav-links {
  display: flex;                      /*this will set the buttons on a horizontal way see navbar*/
  list-style: none;                   /*no style added on the buttons*/
  width: 100%;                        /*witdh of the container bottuns nav-bar*/
  height: 100%;                       /*height of the text*/
  justify-content: space-around;      /*spaing of the buttons (home, dashboard, login)*/
  align-items: center;
}

.nav-links li a {                     /* text in the nav-bar */
  color: #00555c;                   /* color of the text*/
  font-size: 16px;                    /* size of the font*/
  text-decoration: none;              /* this wil delete the line below the text*/
}

.landing {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*====================End if the Nav-Bar==================*/


.landing h1 {                         /* Size and color of the H1 adjusments*/                        
  margin: 50px;                       /* size of the box adjusting */
  font-size: 50px;                    /* size if the font*/
  color: #00555c;                   /* color of the text */
}

/*===========START OF THE CSS TABLE STYLE==================*/
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

  h1 {
    font-size: 18px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
background: #00555c;
background: #00555c;
}

section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}